ol,
ul {
    list-style: none;

}


body {
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 39, 32);
    padding: 1em;
    color: violet;
}

#check {
    display: none;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
    font-size: 25px;
    color: rgb(186, 5, 5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

header nav ul li {
    display: flex;
    gap: 1.3em;
    color: blueviolet;
}

header a i {
    color: white;
    font-size: 3em;
    padding: 15px;
}

.imagenlou {
    width: 15em;
    height: auto;
    display: flex;
}

.imagenplanta {
    width: 15em;
    height: auto;
    display: flex;
}

.imagenprofesor {
    width: 15em;
    height: auto;
    display: flex;
}

.section2 h1 {
    color: var(--color2);
    font-size: 36px;
    font-family: 'Roboto Extra-bold';
    text-align: center;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
}

.card {
    width: 220px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.biografia {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imagenrenato {
    display: flex;
    width: 30em;
    height: auto;
    flex-direction: column;
    border-radius: 30px;
}

.section1 {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    text-align: center;
}

.section1,
.section2 {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .titulo {
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: greenyellow;
        text-align: center;
        top: 80px;
        left: 100%;
        transition: 0.5s;
    }

    #check:checked~ul {
        left: 0;
        display: block;
    }
}

/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

/* ------------- Encabezado Contacto ------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    margin: 10px auto;
    padding: 50px;
}

.form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

/* ------------- Media Query para pantallas de más de 700px de resolución ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
        padding: 50px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"] {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
}

.form-row input[ type="text"],
.form-row input[ type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;


    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;


    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;


    width: 100%;
}
.greeting {
    background-color: red;
    display: block;
    text-align: center;
    color: black;
}

/* ------------- Para Pantallas de más de 700px ------------- */


.form-row textarea {
    width: 250px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;


    color: #ffffff;
    background-color: #5995da;


    border: none;
    border-radius: 3px;


    padding: 10px 40px;
    cursor: pointer;
}


.form-row button:hover {
    background-color: #76aeed;
}


.form-row button:active {
    background-color: #407fc7;
}


/* ------------- Para Pantallas de más de 700px ------------- */


.form-row button {
    margin-left: 120px;
}